html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 600px;
}
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"),
    url("./assets/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
}

body {
  font-family: "Open Sans Light" !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  background-image: url("./assets/backgrounds/main.png");
  background-size: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
