@font-face {
  font-family: "Lane";
  src: local("LANENAR_"), url("assets/fonts/LANENAR_.ttf") format("ttf");
}

@font-face {
  font-family: "Gio";
  src: local("Giorgio-Thin"), url("assets/fonts/Giorgio-Thin.ttf") format("ttf");
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 600px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gio", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  background-image: url("./assets/backgrounds/mainBG.png");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
